/*****************
/**   RESET      *
/****************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #dddddd;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

/*****************
/**  SECTIONS    *
/****************/

/* top section */
#top-section {
  height: calc(100vh - 100px);
  display: flex;
}

/* sidebar */
.sidebar {
  width: 300px;
  height: 100%;
  background-color: #000000;
}

/* main-content */
.main-content {
  flex-grow: 1;
  background-color: #141922;
}

/* footer */
#footer {
  height: 100px;
  background-color: #282828;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
}

/*****************
/**  RESPONSIVE  *
/****************/
